<div class="container">
    <div class="container_terminos">
        <div class="texto">

            <!-- Agregadas etiquetas semánticas -->
            <ol>
                <li>Inscripción: Para inscribirse en un curso, los usuarios deben proporcionar información
                    precisa y actualizada, incluyendo su nombre completo y dirección de correo electrónico.</li>


                <li>Propiedad intelectual: Los contenidos y materiales del curso, incluyendo los materiales de
                    lectura, videos, presentaciones y ejercicios, son propiedad exclusiva de la empresa y están
                    protegidos por derechos de autor. Los usuarios no pueden compartir, copiar, distribuir o
                    modificar el contenido del curso sin el consentimiento explícito de la empresa.</li>
                <li>Responsabilidad del usuario: Los usuarios son responsables de su propia conducta en la
                    plataforma de aprendizaje y deben seguir las políticas de la empresa y las leyes aplicables.
                    Los usuarios deben mantener la confidencialidad de su información de inicio de sesión y no
                    compartir sus credenciales con terceros. Los usuarios no podrán subir contenido explícito
                    (desnudos o gore) y ofensivo hacia los demás usuarios.</li>
                <li>Disponibilidad del servicio: La empresa se reserva el derecho de suspender o interrumpir el
                    acceso a la plataforma de aprendizaje en cualquier momento, por razones técnicas o de otro
                    tipo. La empresa no será responsable de ninguna pérdida o daño resultante de la interrupción
                    del servicio.</li>

                <li>Cambios en los términos y condiciones: La empresa se reserva el derecho de actualizar o
                    cambiar los términos y condiciones en cualquier momento sin previo aviso. Los usuarios deben
                    revisar regularmente los términos y condiciones para estar al tanto de los cambios.</li>
            </ol>
        </div>
    </div>
</div>